$priceSize: 1rem;
$rupeeSize: 1.25rem;


.fa-rupee {
    font-size: $rupeeSize !important;
}

.price {
    font-size: $priceSize;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vege-desc{
    padding-top: 0.75rem;
    padding-left: 1.6rem;
}

.add-to-cart {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cart-btn {
    border: none;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: unset;
}